:root{
    --main-color: #30333d;
    --highlight-color: #9ed7d4;
    --hover-color: rgb(155, 54, 54);
    --font-primary: Arial, Helvetica, sans-serif;
}


*{/*default style*/
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

/*body style*/
body {
    background-color: #f4f4fe;
    color: var(--main-color);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    min-height: auto;
    
  }

/*header styles*/
header {
background-color: #2d2e36;
margin-top: -15px;
margin-left: -9px;
padding: 25px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}/*hacer rectangular y amplio el nombre*/

header h1{
    padding: 10px;
    color:var(--main-color);
   background-color: var(--highlight-color);
   text-align: right;
   font-family: var(--highlight-color);
   font-size: 50px;
   position: relative;
   left: -2%;
   width: 40%;
   box-shadow:  3px 3px 10px 5px rgba(0, 0, 0, 0.463);
  
   
  
    
}
/*navigation styles*/
nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin-top: 1px;
    gap : 20px;
}
    
    

nav li{
    list-style: none;
    display: flex;
    margin-top: 10px;
    gap: 20 px;
    border-bottom: 4px solid var(--highlight-color);
    transition: border-color 0.3s;
    position: relative;
}

   nav li:hover{ 
    border-bottom-color: var(--hover-color); 

   } 

nav a{
    text-decoration: none;
    color: var(--highlight-color);
    font-size: 20px;
    transition: color var(--hover-color) 0.3s, font-size 0.3s;
}

nav a:hover{
    color:var(--hover-color);
    font-size:18px; 
    border-color: var(--hover-color);
}

.deco {
    height: 190px;
    width: 100%;
    margin-bottom: 30px;
     background-image: url("../images/3d-render-flowing-particles-design-with-cyber-particles.jpg");
background-size: cover;
background-position: center;
}
.de-content{
background-color: var(--highlight-color);
 position: absolute;
 bottom: 61%;
 right: 8%;
font-size: 30px;
width: 20rem;
padding: 7px;
text-align: center;
}

.aboutme{
display: flex;
align-items: center; 
padding: 20px; 
gap: 20px;
 

}
 h2 {
    border-right: 4px solid var(--main-color); 
    padding: 15px;
    padding-left: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    width: 1px;
 }

.img{
    height: 80px;
}

.works{
    display: flex;
    align-items: center; 
    padding: 20px; 
    gap: 20px;
    border: ;
}