*{/*default style*/
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*body style*/
body{
    background-color:#f4f4fe;
    color: #224974;
    font-family: Arial, Helvetica, sans-serif,Orkney;
    display: flex;
    flex-direction: column;
    min-height: auto;
}
 
/*header styles*/
header {
background-color: #2d2e36;
padding: 25px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}/*hacer rectangular y amplio el nombre*/

header h1{
    padding: 10px;
    color: #2d2e36;
   background-color: #96d3d3;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   position: relative;
   left: -2%;
  
   
  
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-top: 1px;
    
    gap : 20px;
    
}
/* desaparcer lineas y acentrar mas los links*/
nav li{
    list-style: none;
    display: flex;
    margin-top: 10px;
    gap: 20 px;
}

nav a{
   
    color: #9ed7d4;
    font-size: 20px;
    transition: color 0.3s, font-size 0.3s;
}

nav a:hover{
    color:red;
    font-size: 18 px; /*increase font size on hover but x alguna razon no me funciona*/
}

.deco {
    height: 190px;
    width: 100%;
    margin-bottom: 30px;
     background-image: url("../images/3d-render-flowing-particles-design-with-cyber-particles.jpg");
background-size: cover;
background-position: center;
}

.aboutme{
display: flex;
align-items: center; 
padding: 20px; 
gap: 20px;

}
 h2 {
    border-right: #224974; 
    padding: 15px;
    padding-left: 10px;
    height: 200px;
    display: flex;
    align-items: center;
 }

.img{
    height: 80px;
}