:root{
    --main-color: #30333d;
    --highlight-color: #9ed7d4;
    --hover-color: rgb(155, 54, 54);
    --font-primary: Arial, Helvetica, sans-serif;
}


*{/*default style*/
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

/*body style*/
body {
    background-color: #f4f4fe;
    color: var(--main-color);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    min-height: auto;
    
  }

/*header styles*/
header {
background-color: #2d2e36;
margin-top: -15px;
margin-left: -9px;
padding: 25px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;

}


header h1{
    padding: 10px;
    color:var(--main-color);
   background-color: var(--highlight-color);
   text-align: right;
   font-family: var(--highlight-color);
   font-size: 50px;
   position: relative;
   left: -2%;
   width: 40%;
   box-shadow:  3px 3px 10px 5px rgba(0, 0, 0, 0.463);
  
   
  
    
}
/*navigation styles*/
nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin-top: 1px;
    gap : 20px;
}
    
    

nav li{
    list-style: none;
    display: flex;
    margin-top: 10px;
    gap: 20 px;
    border-bottom: 4px solid var(--highlight-color);
    transition: border-color 0.3s;
    position: relative;
}

   nav li:hover{ 
    border-bottom-color: var(--hover-color); 

   } 

nav a{
    text-decoration: none;
    color: var(--highlight-color);
    font-size: 20px;
    transition: color var(--hover-color) 0.3s, font-size 0.3s;
}

nav a:hover{
    color:var(--hover-color);
    font-size:18px; 
    border-color: var(--hover-color);
}
/* image*/
.deco {
    height: 190px;
    width: 100%;
    margin-bottom: 30px;
     background-image: url("../images/3d-render-flowing-particles-design-with-cyber-particles.jpg");
background-size: cover;
background-position: center;
}
.container{ position: relative;

}
.deco p {
    position: absolute;
    width:20rem ;
    bottom: 30%;
    right: 5%;
    background-color:var(--highlight-color);
    color:var(--main-color);
    padding: 1%;
    font-size: 2rem;
  }


/*about me styles and animations*/
.avatar{
border-radius: 50%;
width: 16%;
position: absolute;
bottom: 13%;
left:0;
padding-left: 1%;
 }

.aboutme .color-change {
transition: color 0.3s ease-in-out;
}

.aboutme .color-change:hover {
color:rgb(194, 31, 31); 
}

.aboutme .color-change:hover + .color-change {
    color:var(--highlight-color); 
}

.aboutme{
display: flex;
padding: 20px; 
gap: 20px;
white-space:pre-line;


}
.aboutme .wave-emoji {
    display: inline-block;
    animation: waveAnimation 2s infinite;
    transform-origin: center;
    margin-left: 5px;
}
.aboutme .rocket-emoji {
    display: inline-block;
    animation: rocketAnimation 3s infinite;
    transform-origin: center;
    margin-right: 5px;
}

@keyframes waveAnimation {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
}
@keyframes rocketAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
 h2 {
    border-right: 6px solid var(--main-color); 
    padding: 15px;
    padding-left: 10px;
    text-align:right;
   width: 30%;
   font-size: 3rem;
   
   
 }
 /*Work styles*/
 .work{
    display: flex;
    flex-wrap: wrap;
 }
 .work1 {
    flex-direction: column; 
    max-width: 70%;
    max-height: 50%;
    
    }

.work-image1 {
    outline:10px solid var(--highlight-color);
    width: 70%;
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

.work-image1:hover {
    opacity: 0.8;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.work-column {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.work-image2{
    width: 3%;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.3s;
}
.work-image3 {
    width: 3%;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.3s;
}

.work-image2:hover,
.work-image3:hover {
    opacity: 0.8;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
